@use 'variables'as *;

/**********************************************
MOBILE STYLES 
**********************************************/

h1 {
	@include heading-capitalized-light(1.5rem);
    text-align: center;
	margin: auto;
}

h2 {
	@include heading-capitalized-light(0.8rem);
    text-align: center;
    margin: auto;
}

h3 {
	@include heading-capitalized-light($mobile-heading-font-size);
}

p {
	text-align: justify;
	@include body-normal-light($mobile-body-font-size);
	line-height: 18px;
}

a {
	@include links-normal-light($mobile-body-font-size);
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

abbr {
	text-decoration: none;
}


/**********************************************
DESKTOP STYLES 
**********************************************/

@media screen and (min-width: $breakpoint) {

	h1 {
		@include heading-capitalized-light(4rem);
		text-align: left;
	}
	
	h2 {
		@include heading-capitalized-light(1.5rem);
		text-align: left;
	}

	h3 {
		@include heading-capitalized-light($desktop-heading-font-size);
		text-align: right;
		line-height: 25px;
	}

	p {
		@include body-normal-light($desktop-body-font-size);
		line-height: 20px;
	}

	a {
		@include links-normal-light($desktop-body-font-size);
	}

}