@use 'variables'as *;
@use 'atoms';

/**********************************************
MOBILE STYLES 
**********************************************/

header {
    padding-top: 50px;
}

.intro::before {
	content: "";
	background: url(images/earth-space.jpg);
	transform: rotate(180deg);
	height: 400px;
	width: 100%;
	z-index: -1;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
}

.summary p {
	@include body-normal-light($mobile-body-font-size);
    text-align: left;
    max-width: 380px;
	margin: 20px auto;
}

// Overlapping styles between _intro and _main
.preamble h3, .participation h3, .requirements h3 {
    text-align: right;
    line-height: 25px;
}

.preamble {
    padding: 0 20px;
}

.preamble p, .explanation p, .participation p, .benefits p, .requirements p {
    opacity: 0.7;
}



/**********************************************
DESKTOP STYLES 
**********************************************/

@media screen and (min-width: $breakpoint) {

    header {
        margin-left: 80px;
    }

    .summary {
        margin-left: 80px;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    .summary p {
        font-size: $desktop-body-font-size;
        text-align: left;
        margin: 20px 0;
    }

    .summary p:nth-child(1) {
        padding-top: 1rem;
    }

    //html and css download buttons
    .summary p:nth-child(2) {
        visibility: hidden;
    }

    .summary p a {
        @include body-capitalized-light($desktop-body-font-size);
        display: block;
        visibility: visible;
    }

    // Overlapping style between _intro and _main
    .preamble, .explanation, .participation, .benefits, .requirements {
        display: grid;
        grid-template-columns: 350px auto;
        grid-gap: 20px;
        max-width: 850px;
        margin: 0 auto 50px auto;
        padding: 0 20px;

        p {
            grid-column: 2/3;
        }

    }

    .preamble p:first-of-type, .explanation p:first-of-type {
        margin-top: 55px;
    }

}