@use 'variables'as *;
@use 'atoms';

/**********************************************
MOBILE STYLES 
**********************************************/

.explanation, .participation, .benefits, .requirements {
	padding: 0 20px;
}

//Special styles for "So what is this about?"
#zen-explanation h3 {
  margin-right: 160px;
  padding-bottom: 5px;
  line-height: 25px;
}

#zen-supporting h3, .design-selection h3 {
  padding-top: 50px;
}

/* Overlapping styles between _intro and _main, located in _intro. For reference only. DON'T UNCOMMENT. */

// .preamble h3, .participation h3, .requirements h3 {
//   text-align: right;
//   line-height: 25px;
// }

// .preamble p, .main p {
//   line-height: 18px;
// }

// .preamble p, .explanation p, .participation p, .benefits p, .requirements p {
//   opacity: 0.7;
// }

footer {
  background-color: $accent2;
  opacity: 0.95;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

footer a {
  color: black;
}


/**********************************************
DESKTOP STYLES 
**********************************************/

@media screen and (min-width: $breakpoint) {

  #zen-supporting h3, .design-selection h3 {
    padding-top: 0;
  }

  //Special styles for "So what is this about?"
  #zen-explanation h3 {
    margin-right: 0;
    margin-left: 100px;
  }

  .participation p:first-of-type, .benefits p:first-of-type, .requirements p:first-of-type {
    margin-top: 30px;
  }

  /* Overlapping styles between _intro and _main, located in _intro. For reference only. DON'T UNCOMMENT. */
  
  // .preamble, .explanation, .participation, .benefits, .requirements {
  //   display: grid;
  //   grid-template-columns: 350px auto;
  //   grid-gap: 20px;
  //   max-width: 850px;
  //   margin: 0 auto 50px auto;
  //   padding: 0 20px;

  //   p {
  //       grid-column: 2/3;
  //   }

  // }

  // .preamble p:first-of-type, .explanation p:first-of-type {
  //     margin-top: 55px;
  // }

    footer {
      background-color: $accent1;
      opacity: 1;
      flex-direction: column;
      bottom: 0;
      right: auto;
      text-align: center;
    }

    footer a {
      color: $text-light;

      &:hover {
        color: $primary;
        transition: 0.3s;
        text-decoration: none;
      }
    }

}
