@use 'variables'as *;
@use 'atoms';

h3 {
	@include atoms.uppercase($text-light);
	font: italic normal 1.4em $fonts-headline;
	margin-bottom: 0;
}

.design-name,
.viewall,
.view-css,
.css-resources,
.zen-faq,
.zen-submit,
.zen-translations {
  & a{
    @include atoms.uppercase($text-light);
  }
}

header {
  grid-area: hd;
  padding-top: 20px;
  height: 100px;

  h1 {
    @include atoms.uppercase($text-light);
    font: normal 2em $fonts-headline;
    margin-top: 10px;
  }

  h2 {
    font: normal 1.5em $fonts-headline;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}


.intro {
  grid-area: intro;
  display: grid;
  grid-template-areas:
    "head"
	  "summary"
    "preamble";
  width: auto;
  margin: 0px 200px;

  header {
    grid-area: head;
  }
  .summary {
    grid-area: summary;
    clear: both;
    margin: 20px 20px 20px 10px;
    width: 160px;
    float: left;
    margin: 0px 200px;

    & p {
      font: italic 1.1em/2.2 $fonts-body;
      text-align: center;
      color: $text-light;
    }
  }
  .preamble {
    grid-area: preamble;
  }

}


.explanation,
.participation,
.requirements,
.summary {

  a:link,
  a:visited {
    color: $accent1;
  }
}

// Main section
.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "explanation"
	  "participation"
    "benefits"
    "requirements";
  width: auto;
  margin: 0px 200px;
}
.explanation {
  grid-area: explanation;
}

.participation {
  grid-area: participation;
}

.benefits {
  grid-area: benefits;
}

.requirements {
  grid-area: requirements;
}

// Footer section
footer {
  position: fixed;
  top: 200px;
  left: 75px;
  background-color: $accent1;
  text-align: center;
  //position: sticky;
  width: 10%;
  border: 2px solid $primary;
  border-radius: 10px;

  a {
    display: block;
  }

  a:link,
  a:visited {
    margin-right: 25px;
    margin-left: 5px;
  }
}