@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&family=Lexend+Zetta:wght@300&display=swap');
$fonts-body: 'Exo 2', sans-serif;
$fonts-headline: 'Lexend Zetta', sans-serif;
$primary: #121D40;
$accent1: #2F6C73;
$accent2: #BF6734;
$text-dark: #0A1126;
$text-light: #F6F3EE;
$background-color: #121D40;