// styles.scss
@use "variables"as *;
@use 'atoms';
@use 'intro';
@use 'main';
@use 'sidebar';

* {
	box-sizing: border-box;
}

html {
	background-color: $background-color;
}

body {
	margin: 0;
	background: #000 url("images/cmp_galaxy1.jpg") 100vw 100vh/contain repeat;
	z-index: -2;
	position: relative;
}

.page-wrapper {
	margin: 0;
}

@media screen and (min-width: $breakpoint) {

}